body,
html {
	margin:0;
	padding:0;
	color:#000;
	font:14px 'Roboto', sans-serif;
}
#container {
	width:1440px;
	margin:0 auto;
	background:#212121;
}
.wrap {
	width:1440px;
	margin:0;
	float:left;
	background:#ededed;
}
nav {
	padding:0px 0px 0px 195px;
	background:#2d8efd;
}
nav ul {
	margin:0;
	padding:0;
	list-style:none;
	width:100%;
	/* text-align:justify;
	display:flex;
    justify-content:space-between; */
}
nav li {
	padding:13px 9px;
	display:inline-block;
}
li:hover {
	background:#61ABFE;
}
nav li a {
	color:#FFFFFF;
	text-decoration: none;
}
main {
	float:right;
	width:807px;
	margin:61px 177px 0px 0px;
	padding:0;
}
h1 {
	font-size:35px;
	font-weight:bold;
	margin:0;
	color:#212121;
} 
h2 {
	margin:31px 10px 26px 10px;
	font-size:17px;
	text-align:center;
	line-height:26px;
	color:#212121;
}
#sidebar {
	float:left;
	width:247px;
	margin:61px 0px 0px 176px;
	padding:0;
}
#way {
	height:172px;
	margin-bottom:28px;
	background-color:#D8D8D8;
}
#country {
	padding:15px;
	width:217px;
	background-color:#FFFFFF;
	color:#212121;
}
#country table tr:first-child {
	font-weight:bold;
	line-height:46px;
}
#country img {
	vertical-align:middle;
}
#country div:first-child {
	background:url("../resourses/angle.png") no-repeat;
	background-position:98%;
	padding-bottom:5px;
}
.country span {
	font-weight:bold;
	line-height:46px;
}
.country img {
	margin:0px 18px 0px 0px;
}
.hiddenText {
	font-size:12px;
	display:none;
}
header {
	padding:16px 0px;
}
footer {
	clear:both;
	padding:10px 10px;
	background:#ededed;
}
#sel select {
	width:236px;
	height:45px;
	border:0;
	font-size:14px;
	padding-left:15px;
	color:#252525;
	background: transparent;
	background:url("../resourses/angle.png") no-repeat;
	background-position:85%;
}
#sel {
	margin:0px 50px 21px 590px;
	border: 1px solid #D0D0D0;
	border-radius:3px;
	overflow: hidden;
	height: 45px;
	width: 216px;
	background-color:#FFFFFF;
}

.mounth {
	padding:12px 17px 17px;
	background:#F6EDCC;
	font-size:17px;
	font-weight:bold;
}
.travel {
	margin:25px 0px;
	background:#FFF;
}
table h3 {
	display:inline;
	font-size:20px;
	line-height:23px;
	color:#000000;
}
.tdimg {
	width:280px;
}
table:first-child  + tr {
	height:72px;
}
.td1 {
	text-align:right;
	padding-right:15px;
	font-size:30px;
	font-weight:bold;
	color:#2D8EFD;
}
.td2 {
	height:26px;
	color:#3E3E3E;
}
.td3 {
	height:73px;
	width:220px;
	color:#7B7B7B;
	line-height:21px;
}
.td4 {
	width:111px;
	text-align:right;
	line-height:21px;
}
.td4 span {
	color:#7B7B7B;
}
.td4 span b {
	display:inline;
	font-size:14px;
	color:#FF00FF;
}
.buttonDetail {
	width:138px;
	height:30px;
	margin-left:27px;
	text-align:center;
	padding-top:13px;
	color:#2D8EFD;
	font-size:16px;
	font-weight:bold;
	border: 1px solid #2D8EFD;
	border-radius:3px;
}
.buttonDetail:hover {
	background-color:#F6EDCC;
	cursor:pointer;
}
form {
	padding:15px;
	margin:25px 0px 30px;
	color:#484848;
	background:#FFF;
}
form input[type="text"] {
	margin:10px 0px 25px;
	padding:15px 9px 9px 15px;
	box-sizing:border-box;
	width:216px;
	height:45px;
	border:1px solid #D0D0D0;
	border-radius:3px;
	font-size:14px;
}
.radio {
	display:none;
}
form div label {
	display: inline-block;
	text-align:center;
	width:30px;
	height:30px;
	margin:0 4px;
	background-color: #D8D8D8;
	border:1px solid #D8D8D8;
	border-radius:50%;
}
form div label p {
	margin:6px 0px 0px 0px;
}
.radio:checked + label {
	background-color:#2D8EFD;
	color:#FFFFFF;
}

/* labels */
#pr1 {
	display:inline-block;
	width:49%;
	color:#7B7B7B;
}
#pr2 {
	display:inline-block;
	width:49%;
	text-align:right;
	color:#7B7B7B;
}

/* design input range */

input[type=range] {
-webkit-appearance: none;
margin: 20px 0;
width: 100%;
}
input[type=range]:focus {
outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
width: 216px;
height: 6px;
border-radius: 3px;
cursor: pointer;
background: #D8D8D8;
}
input[type=range]::-webkit-slider-thumb {
height: 24px;
width: 24px;
border-radius: 12px;
background: #2D8EFD;
cursor: pointer;
-webkit-appearance: none;
margin-top: -8px;
}


input[type=range]::-moz-range-track {
width: 216px;
height: 6px;
border-radius: 3px;
cursor: pointer;
background: #D8D8D8;
}
input[type=range]::-moz-range-thumb {
height: 24px;
width: 24px;
border-radius: 12px;
background: #2D8EFD;
cursor: pointer;
}


input[type=range]::-ms-track {
width: 216px;
height: 6px;
cursor: pointer;
background: transparent;
border-color: transparent;
border-width: 9px 0;
color: transparent;
}
input[type=range]::-ms-fill-lower {
background: #D8D8D8;
border-radius: 6px;
}
input[type=range]::-ms-fill-upper {
background: #D8D8D8;
border-radius: 6px;
}
input[type=range]::-ms-thumb {
height: 24px;
width: 24px;
border-radius: 12px;
background: #2D8EFD;
cursor: pointer;
}

























